




.contact-media p{
    font-size: 32px;
    line-height: 50px;
    padding-top: 10px;
}

.contact-media span{
    font-size: 20px;
    line-height: 50px;
}
.contact .w-75{
    background-color: #D9D9D966;
}
.contact h3{
    font-size: 40px;
    line-height: 100%;
    color: #152527;
    text-align: center;
    padding: 10px 0;

}
.contact p{
    font-size: 16px;
    line-height: 100%;
    color: #152527;
    text-align: center;
    padding: 10px 0;

}
.contact input{
    background-color: transparent;
}